[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wsgiserver = "*"

[packages]
sqlalchemy = "*"
sqlalchemy-utils = "*"
mysqlclient = "*"
stringcase = "*"
bcrypt = "*"
webob = "*"
jinja2 = "*"
parse = "*"
pymysql = "*"
checksumdir = "*"
filetype = "*"

[requires]
python_version = "3.7"
